PassengerEnabled On
PassengerEnabled On
PassengerAppRoot /home/t/timyr4rm/timyr4rm.beget.tech/public_html/diplom/diplom
PassengerPython /home/t/timyr4rm/timyr4rm.beget.tech/public_html/venv/bin/python

