{% extends 'admin/change_list.html' %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}

{% block object-tools-items %}
    <li>
        <a class="download-table" href="{% url 'export_to_excel' %}">
            Скачать таблицу
        </a>
    </li>
    
    <li>
    <a class="update-school-table" href="{% url 'update-schools' %}">
            Обновить школы
        </a>
    </li>

    {{ block.super }}

{% endblock %}