:root {
    --main-color: #0072A3;
    --secondary-color: #458dc6;
    --third-color: #2f9bda;
    --main-text-color: #ffffff;
    --secondary-text-color: #414345;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}
.profile .container{
    width: 920px;
}

/* Основная страница */

.header {
    background: var(--main-color);
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}

.navigation-menu img {
    width: 35px;
}

.navigation-menu-list {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu-list:nth-child(1) {
    width: 170px;
}

.navigation-menu-list:nth-child(2) {
    width: 200px;
}

.navigation-menu-list a {
    color: white;
}

.exit-button {
    display: inline;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}

.exit-button:hover {
    cursor: pointer;
}

.preview {
    position: relative;
    background: url("../img/peakpx.jpg") center center no-repeat;
    background-size: cover;
    padding: 35px 0;
    min-height: 520px;
}

.preview .container h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.preview .container {
    color: var(--secondary-text-color);
    width: 550px;
    height: 250px;
    position: absolute;
    right: 10vw;
    top: 70px;
    background: white;
    border-radius: 5px;
    padding: 25px;
}

.application-btn {
    display: inline-block;
    padding: 15px 45px;
    margin: 25px 0 25px 0;
    border: 1px solid #5f4dee;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.application-btn:hover,
.form-control-submit-btn:hover {
    background-color: var(--main-text-color);
    color: var(--main-color);
}

.faculties {
    padding: 55px 0;
}

.faculties .container h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: var(--secondary-text-color);
}

.faculties-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faculties-list li {
    padding: 25px;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--main-text-color);
}

.entry-content, .entry-content p, .post-content, .page-content, .post-excerpt, .entry-summary, .entry-excerpt, .excerpt, .excerpt p, .type-post p, .type-page p {
    font-family: "Open Sans", sans-serif;
}

.entry-content, .entry-summary {
    margin-top: 2rem;
}

.entry-content p {
    margin-bottom: 2.4rem;
}

.entry-content table {
    background: none repeat scroll 0 0 white;
    border: 2px solid #ebebeb;
    border-radius: 6px;
    margin-bottom: 1.25rem;
    border-collapse: separate;
    border-spacing: 0;
}

.entry-content table tr:nth-of-type(odd) {
    background: #f3f3f3;
}

.entry-content table tr th, table tr td {
    padding: 1rem;
    color: #222;
}

/*Конец основной страницы*/

/* Форма подачи заявки на регистрацию */


.form-page {
    background: var(--secondary-color);
}

.registration_application {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    background: #f3f7fd;
    color: #555;
}

.form-errors {
    color: white;
}

.registration_form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

.input-field {
    width: 100%;
    box-sizing: border-box;
}

.input-control {
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #555;
    font: 400 0.875rem / 1.875rem "Open Sans", sans-serif;
    transition: all 0.2s;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.captcha {
    width: 30%;
    float: left;
}

.captcha ~ input {
    margin-left: 30px;
    width: 30%;
    padding: 5px;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #555;
    font: 400 0.875rem / 1.875rem "Open Sans", sans-serif;
    transition: all 0.2s;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.input-control:hover,
.captcha ~ input:hover {
    border: 1px solid #a1a1a1;
}

.input-control:focus,
.captcha ~ input:focus {
    border: 1px solid #a1a1a1;
    outline: none;
}

.radio-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #a1a1a1;
    border-radius: 0.25rem;
    overflow: hidden;
}

.radio-input input {
    display: none;
}

.radio-input label {
    display: inline-block;
    width: 100%;
    background: #dddddd;
    color: #717171;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}

input[type="radio"]:checked ~ label {
    background: var(--main-color);
    color: var(--main-text-color);
}

input[type="checkbox"] {
    padding: 12px;
}

.form-control-submit-btn {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    border: 1px solid #5f4dee;
    border-radius: 1.5rem;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

textarea.input-control{
    resize: none;
    height: 85px;
}

.input-errors {
    color: #ff4141;
}

.form-page .mainside {
    padding: 35px 0;
}

.form-page.login .mainside{
    padding: 114px 0;
}

/* Форма подачи заявки на регистрацию */

/* Личный кабинет */

.profile {
    display: flex;
    width: 100%;
}

.profile .mainside {
    background: white;
    width: 80%;
    padding: 35px;
}

.side-menu {
    background: var(--third-color);
    min-height: 95vh;
    width: 20%;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
}

.side-menu ul li {
    padding: 10px;
}

.side-menu a {
    color: white;
}

.side-menu li:hover {
    background: var(--main-color)
}

.user-profile {
    margin-top: 25px;

}

.user-profile img{
    float: left;
    margin-right: 20px;
}

/*.user-short-info{*/
/*    width: 500px;*/
/*}*/

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.table {
    color: #1b1b1b;
    background: white;
    border: 0;
    border-collapse: collapse;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
    overflow: scroll;
}

.table th {
    color: white;
    padding: 10px;
}

.table thead tr {
    background: var(--secondary-color);
    overflow: hidden;
}

.table tr {
    background: #f8f8ff;
}

.table tr:nth-child(even) {
    background: #e9e9ef;
}

.table td {
    padding: 10px;
}

.table-caption{
    font-weight: bold;
    font-size: 24px;
    margin: 20px auto;
}

.watching{
    color: #4ac1f7;
}

.denied{
    color: #ba2121;
}

.accepted{
    color: #94b24d;
}

.warn{
    color: #f5dd5d;
}

.table tr.current-user {
    background: var(--third-color);
}

.empty-cell{
    text-align: left !important;
    width: 100%;
}

.edit-form {
    width: 60%;
    margin: 0 auto;
}

.download-document{
    margin-top: 10px;
}

.form-grid{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.departments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.department {
    border: var(--secondary-color) 1px solid;
    padding: 50px 25px;
    text-align: center;
}

.department h3,
.department p {
    color: black;
}

.ui-menu {
    overflow: scroll;
}

/* Личный кабинет */

footer {
    position: relative;
    bottom: 0;
}

#section-footer {
    background-color: #1f3345;
}

#section-sub-footer {
    background-color: #011a29;
    padding: 1.4rem 0;
}

.columns.sixteen,
.columns,
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-sub-footer {
    color: #FFF;
    font-size: 1rem;
    line-height: 1.3;
}

.columns.right {
    width: 270px;
}

.social {
    width: 100px;
}


/*@media (width: 1366px) {*/
/*    */
/*}*/