{% extends 'base.html' %}

{% block title %}Вход на сайт{% endblock %}

{% block content %}
	<section class="full_screen">
		<div class="bg_page_register wrapper">
			<div class="content autorizaton_form">
				<h2 class="center">Вход в личный кабинет</h2>

				<form class="registration_form" method="POST">
                    {% csrf_token %}

                    <div class="form-error">{{ form.non_field_errors }}</div>

                    {% for f in form %}
                        {% if f.label == 'Пароль' %}
                        <div class="password">
                            <label class="hidden" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
                            <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
                        </div>
                        {% else %}
                            <label class="hidden" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
                            <div class="form-error">{{ f.errors }}</div>
                        {% endif %}

                    {% endfor %}
					<button class="button">Войти</button>

                    <a href="{% url 'account:password_reset' %}">Забыли пароль?</a>
                    <a href="{% url 'form' %}">Перед входом на сайт, необходимо подать заявку на регистрацию.</a>
				</form>
			</div>
        </div>
    </section>
{% endblock %}