{% extends 'account/profile_base.html' %}

{% block title %}Рейтинг{% endblock %}

{% load custom_tags %}

{% block content %}
    <div class="container">
        <h1 class="profile-header">Рейтинг</h1>
        <div>
            {% if department_admissions %}
                {% for department, admissions, user_rank, is_on_budget in department_admissions %}

                    <table class="table">
                        <caption class="table-caption">{{ department }}</caption>
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>ФИО</th>
                            <th>Пол</th>
                            <th nowrap>Дата рождения</th>
                            <th nowrap>Ср. бал</th>
                            {% if department.name != "Информационные системы и программирование" %}
                                <th nowrap>Вст. экз.</th>
                            {% endif %}
                            <th nowrap>Оригинал/копия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for admission in admissions %}
                            {% if admission %}
                                <tr {% if admission.applicant == user.student %} class="current-user" {% endif %}>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="empty-cell" nowrap>
                                        {% if admission.applicant == user.student %}
                                            {{ admission.get_fio }}
                                        {% else %}
                                            {{ admission.get_secret_fio }}
                                        {% endif %}
                                    </td>
                                    <td>{{ admission.applicant.get_gender }}</td>
                                    <td nowrap>{{ admission.applicant.birth_date }}</td>
                                    <td>{{ admission.average_score }}</td>
                                    {% if department.name != "Информационные системы и программирование" %}
                                        <td>{{ admission.internal_exam }}</td>
                                    {% endif %}
                                    <td>{{ admission.get_original_or_copy }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="empty-cell">[пока не занято]</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    {% if department.name != "Информационные системы и программирование" %}
                                        <td></td>
                                    {% endif %}
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>
                    <p>
                        {% if is_on_budget %}
                            Вы попали на бюджет!
                        {% else %}
                            Ваш текущий рейтинг: {{ user_rank|default:0 }}. Вы не попали в топ-25, но ваш рейтинг среди всех
                            студентов {{ user_rank|default:0 }}.
                        {% endif %}
                    </p>
                {% endfor %}
            {% else %}
                <p>Вы ещё не заполнили данные.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}