{% extends 'account/profile_base.html' %}

{% block content %}
    <div class="container">
        <h1 class="profile-header">Заполнение данных</h1>
        <form method="POST" enctype="multipart/form-data" class="edit-form">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>
            <div class="form-grid">
                {% for f in form %}
                    {% if f.label == 'Согласие на обработку данных' %}
                        <div>
                            <label for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                            <p class="download-document"><a href="{% url 'download_document' %}">Скачать согласие</a></p>
                            <div class="form-error">{{ f.errors }}</div>
                        </div>
                    {% elif f.label == 'Фото' %}
                        <div>
                            <label for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                            <div class="form-error">{{ f.errors }}</div>
                        </div>
                    {% else %}
                        <div>
                            <label hidden="hidden" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                            <div class="form-error">{{ f.errors }}</div>
                        </div>

                    {% endif %}
                {% endfor %}
            <button class="form-control-submit-btn">Сохранить</button>
            </div>



        </form>
    </div>
{% endblock %}