{% extends 'base.html' %}

{% load static %}

{% block title %}Отделения{% endblock %}

{% block content %}
    <div class="departments">
        <form method="post">
            {% csrf_token %}

            <div>{{ form.non_field_errors }}</div>

            {% for f in form %}
                <div class="department_input">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    <div>{{ f.errors }}</div>
                </div>
            {% endfor %}
            <p>
                <input type="checkbox" required id="accept" name="accept">
                <label for="accept">Я даю согласие на обработку персональных данных</label>
            </p>
            <p><a href="https://www.tsu.ru/upload/medialibrary/bab/tipovaya-forma_soglasie.doc">Скачать согласие</a></p>
            <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}