{% extends 'base.html' %}

{% load static %}

{% block title %}Отделения{% endblock %}

{% block content %}
    <div class="registration_application">
        <h2>Форма подачи заявки на регистрацию</h2>

        <form class="registration_form" method="post">
            {% csrf_token %}

            <div class="form-errors">{{ form.non_field_errors }}</div>

            {% for f in form %}
                {% if f.label == 'Пол' %}
                    <div class="input-field">
                        <div class="radio-input">
                            {% for radio in f %}
                                <div>
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="input-field">
                        <label hidden="hidden" for="{{ f.id_for_label }}">{{ f.label }}</label>
                        {{ f }}
                        <div class="input-errors">{{ f.errors }}</div>
                    </div>
                {% endif %}
            {% endfor %}

            <p>
                <input type="checkbox" required id="accept" name="accept">
                <label for="accept">Я даю согласие на обработку персональных данных</label>
            </p>
            <p><a href="{% url 'download_document' %}">Скачать согласие</a></p>
            <button class="form-control-submit-btn" type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}