{% extends 'base.html' %}

{% load static %}

{% block title %}Отделения{% endblock %}

{% block content %}
    <section class="preview">
        <div class="container">
            <h1>Приёмная комиссия Набережночелнинского педагогического колледжа</h1>
            <p>Подай заявку на регистрацию прямо сейчас и поучаствуй в конкурсе на поступление в бюджетную группу</p>
            {% if user.is_authenticated %}
                <a class="application-btn" href="{% url 'account:profile' user.id %}">Зарегистрироваться</a>

            {% else %}
                <a class="application-btn" href="{% url 'form' %}">Зарегистрироваться</a>
            {% endif %}

        </div>
    </section>

    <section class="faculties">
        <section class="info">
            <div class="entry-content container">
                <p><strong>Списки абитуриентов подавших заявление</strong></p>
                <p><u></u><strong><u><a
                        href="https://docs.google.com/document/d/1KGBd0J5MIwRw279HYDmZiI6JwOwcItzraeunz1ArrpQ/edit">Преподавание
                    в начальных классах</a></u></strong></p>
                <p><strong><u><a
                        href="https://docs.google.com/document/d/1EPtYDtXIF7eJ_cijIHZ1VBR7b1IlrbWqnfr1rUKwqW0/edit">Дошкольное
                    образование</a></u></strong></p>
                <p><strong><u><a
                        href="https://docs.google.com/document/d/1yGQi_brshsx-IpBPx2qXWLeTkzidKRmxUt1ade6iSrw/edit">Музыкальное
                    образование</a></u></strong></p>
                <p><strong><u><a
                        href="https://docs.google.com/document/d/1lYcjWp86ph-MZveW9xHe3q3f84r4uFcpJWRxDHI92QE/edit">Информационные
                    системы и программирование</a></u></strong></p>
                <p><strong>ГАПОУ «Набережночелнинский педагогический колледж» включен в Национальный Реестр «Ведущие
                    образовательные учреждения России»</strong></p>
                <p><em><strong>Устав ГАПОУ «Набережночелнинский педагогический колледж»</strong> (<a
                        href="https://edu.tatar.ru/upload/storage/org1521/files/Устав_20159(1).pdf">скачать</a>)&nbsp;</em>
                </p>
                <p><em><strong>Лицензия: серия 16 Л 01 № 0002748 МО и Н РТ № 6861 от 13 июля 2015 года</strong> (<a
                        href="https://edu.tatar.ru/upload/storage/org1521/files/Лицензия (новая).pdf">скачать</a>)&nbsp;
                    &nbsp;</em></p>
                <p><strong><a
                        href="https://edu.tatar.ru/upload/storage/org1521/files/%D0%92%D1%8B%D0%BF%D0%B8%D1%81%D0%BA%D0%B0%20%D0%B8%D0%B7%20%D1%80%D0%B5%D0%B5%D1%81%D1%82%D1%80%D0%B0%20%D0%BB%D0%B8%D1%86%D0%B5%D0%BD%D0%B7%D0%B8%D0%B9%20%E2%84%96%20%D0%9B035-01272-16-00252382.pdf">Выписка
                    из реестра лицензий по состоянию на 02.02.2023</a></strong></p>
                <p><em><strong>Свидетельство &nbsp;о государственной аккредитации: серия 16 А 01 №0000128&nbsp; от 16
                    апреля
                    2017 года</strong> (<a
                        href="https://edu.tatar.ru/upload/storage/org1521/files/свидетельство гос аккредитации(2).pdf">скачать</a>)</em>
                </p>
                <p><b>Внимание! Изменения в законодательстве.</b> Информация о &nbsp;предоставлении преимущественного
                    права
                    зачисления в образовательную организацию на обучение по образовательным программам среднего
                    профессионального образования при условии успешного прохождения вступительных испытаний (в случае их
                    проведения) и при прочих равных условиях (<a
                            href="https://edu.tatar.ru/upload/storage/org1521/files/%D0%9E%D0%B1%20%D0%B8%D0%B7%D0%BC%D0%B5%D0%BD%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B2%20%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%BE%D0%B4%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%B5.pdf">скачать</a>)
                </p>
                <p><a href="https://edu.tatar.ru/upload/storage/org1521/files/2023 Порядок приема в колледж.pdf"><b>Правила
                    приема в колледж на 2023-2024 учебный год</b></a></p>
                <p><strong><a
                        href="https://edu.tatar.ru/upload/storage/org1521/files/Требования к вступительным испытаниям 53_02_01.pdf">Требования
                    к организации вступительных испытаний по специальности 53.02.01 «Музыкальное
                    образование»&nbsp;</a></strong></p>
                <p>
                    <a href="https://edu.tatar.ru/upload/storage/org1521/files/Требования к испытаниям 44 02 01 и 44 02 02.pdf"><strong>Требования
                        к организации вступительных испытаний по специальностям 44.02.01 Дошкольное образование и
                        44.02.02
                        Преодавание в начальных классах</strong></a></p>
                <p>Положение об организации приема на договорной основе (<a
                        href="https://edu.tatar.ru/upload/storage/org1521/files/2023 Положение об организации приема на договорной основе 2023.pdf">скачать</a>)
                </p>
                <p>Положение об апелляционной комиссии (<a
                        href="https://edu.tatar.ru/upload/storage/org1521/files/3 Положение об аппеляционной комиссии.pdf">скачать</a>)
                </p>
                <p><strong>Приказ «Об утверждении КЦП гражадан по профессиям, специальностям для обучения по
                    образовательным
                    программам СПО на 2023/2024&nbsp;учебный год в ПОО, подведомственные МО и Н РТ» № 2344/22&nbsp;от
                    30.12.2022</strong>&nbsp;(<a
                        href="https://edu.tatar.ru/upload/storage/org1521/files/Приказ по основным программам (2023-2024).pdf">Скачать</a>)
                </p>
                <p><strong>Приказ «О внесении изменений в контрольные цифры приема граждан&nbsp; по профессиям,
                    специальностям для обучения&nbsp; учебный год по программам среднего профессионального образования
                    на&nbsp;
                    2023/2024 в ПОО, подведомственные МОиН РТ ,&nbsp; утвержденные приказом&nbsp;МО и Н РТ&nbsp;от
                    30.12.2022&nbsp;&nbsp;№ 2344/22&nbsp;</strong>&nbsp;<strong>&nbsp; «Об утверждении КЦП гражадан по
                    профессиям, специальностям для обучения по образовательным программам СПО на 2023/2024&nbsp;учебный
                    год
                    в ПОО, подведомственные МО и Н РТ» (<a
                            href="https://edu.tatar.ru/upload/storage/org1521/files/Приказ (внесение изменений в КЦП)-2023.pdf">Скачать</a>)</strong>
                </p>
                <p><a href="https://edu.tatar.ru/upload/storage/org1521/files/таблица КЦП 2023_2024.docx"><strong>Контрольные
                    цифры приема на 2023-2024&nbsp;учебный год по специальностям среднего профессионального
                    образования</strong></a></p>
                <p><strong>Приём на базе основного общего образования (9 классов) на очную форму получения образования
                    на
                    бюджетной основе ведется по специальностям:</strong></p>
                <p><strong>44.02.02 Преподавание в начальных классах</strong></p>
                <p><strong>Квалификация</strong>: учитель начальных классов. Срок обучения 3г 10 мес<br>
                    <strong>Вступительные испытания: </strong>самопрезентация&nbsp;и творческое&nbsp;задание.</p>
                <p><strong>44.02.01 Дошкольное образование</strong></p>
                <p><strong>Квалификация</strong>: воспитатель детей дошкольного возраста. Срок обучения 3г 10 мес.<br>
                    <strong>Вступительные испытания:&nbsp;</strong>самопрезентация&nbsp;и творческое&nbsp;задание.</p>
                <p><strong>53.02.01 Музыкальное образование</strong></p>
                <p><strong>Квалификация</strong>: учитель музыки, музыкальный руководитель. Срок обучения 3г 10 мес.</p>
                <p><strong>Вступительные испытания:&nbsp;</strong>прослушивание.</p>
                <p><strong>09.02.07 Информационные системы и программирование</strong></p>
                <p>Квалификация: разработчик веб и мультимедийных приложений. Срок обучения 3г 10 мес.<br>
                    <strong>Вступительные испытания: </strong>отсутствуют.</p>
                <p><strong>&nbsp;</strong></p>
                <p><strong>Приём на базе среднего (полного) общего образования (11 классов) на заочную форму получения
                    образования на внебюджетной (коммерческой) основе ведется по специальностям:</strong></p>
                <p><strong>44.02.01 Дошкольное образование</strong></p>
                <p>Квалификация: воспитатель детей дошкольного возраста. Срок обучения 3г 10 мес.<br>
                    <strong>Вступительные испытания: </strong>самопрезентация&nbsp;и творческое&nbsp;задание.</p>
                <p><strong>&nbsp;</strong></p>
                <p>Прием документов на первый курс начинается <strong>с 20&nbsp;июня 2023&nbsp;года.&nbsp;</strong></p>
                <p>Сроки приема заявлений в колледж <strong>на заочную форму</strong> получения образования на основе
                    договоров об оказании платных образовательных услуг осуществляется у выпускников, имеющих среднее
                    общее
                    образование, и устанавливаются с 20 июня 2023&nbsp;года по 25&nbsp;ноября 2023&nbsp;года.</p>
                <p><u><strong>ПЕРЕЧЕНЬ ДОКУМЕНТОВ ДЛЯ ПРИЁМА:</strong></u></p>
                <ol>
                    <li>Заявление (<a
                            href="https://edu.tatar.ru/upload/storage/org1521/files/2023 Заявление абитуриента.docx">скачать</a>)
                    </li>
                    <li>Оригинал (для предъявления)&nbsp;и &nbsp;ксерокопию документа, удостоверяющий&nbsp;его личность,
                        гражданство (паспорт)
                    </li>
                    <li>Оригинал и&nbsp;ксерокопию документа об образовании (аттестат об основном общем образовании)
                    </li>
                    <li>Четыре фотографии (размер&nbsp;3х4).</li>
                    <li>Медицинская справка (форма №086, оригинал)</li>
                </ol>
                <p><strong>Внимание!</strong> <strong>В случае подачи заявления с использованием функционала
                    ЕПГУ:</strong>
                </p>
                <p><b>1. копия документа об образовании</b> и (или) документа об образовании и о квалификации или
                    электронный дубликат документа об образовании и (или) документ об образовании и о квалификации <b>должна
                        быть создана уполномоченным должностным лицом многофункционального центра предоставления
                        государственных и муниципальных услуг и заверена усиленной квалифицированной электронной
                        подписью
                        уполномоченного должностного лица многофункционального центра предоставления государственных и
                        муниципальных услуг.</b></p>
                <p>2.&nbsp; поступающий подтверждает свое согласие на зачисление в образовательную организацию <b>посредством
                    функционала ЕПГУ</b> в срок <u><b>до 15 августа</b>.</u></p>
                <p><u><strong>РЕЖИМ РАБОТЫ ПРИЕМНОЙ КОМИССИИ:</strong></u></p>
                <ul>
                    <li><strong>С 20 июня по 23 июня:</strong> <em>понедельник, вторник, среда, четверг, пятница
                        —</em><strong><em> с 9.00 до 13.00,&nbsp; </em></strong><em>суббота и воскресенье —
                        выходные</em>
                    </li>
                    <li><strong>С 26&nbsp;июня по 15 августа: </strong><em>понедельник, вторник, среда, четверг, пятница
                        —</em><strong><em> с 8.00 до
                        16.00,&nbsp; </em></strong><em>суббота</em><strong><em>,</em></strong><em>&nbsp;&nbsp;
                        воскресенье —
                        выходной</em></li>
                </ul>
                <p><strong>&nbsp;</strong><strong>Контрольные цифры приема на 2023-2024 учебный год по специальностям
                    среднего профессионального образования</strong></p>
                <table>
                    <tbody>
                    <tr>
                        <td width="64">№ п/п</td>
                        <td width="118">Код специальности</td>
                        <td width="120">Специальность</td>
                        <td width="102">Базовое образование</td>
                        <td width="89">Форма обучения</td>
                        <td width="89">Срок обучения</td>
                        <td width="98">Прием на бюджетной основе</td>
                        <td width="118">Прием на внебюджетной основе</td>
                    </tr>
                    <tr>
                        <td width="64">1</td>
                        <td width="118">44.02.01</td>
                        <td width="120">Дошкольное образование</td>
                        <td width="102">Основное (9 кл)</td>
                        <td width="89">очная</td>
                        <td width="89">3 г10 мес</td>
                        <td width="98">75</td>
                        <td width="118">25</td>
                    </tr>
                    <tr>
                        <td width="64">2</td>
                        <td width="118">53.02.01</td>
                        <td width="120">Музыкальное образование</td>
                        <td width="102">Основное (9 кл)</td>
                        <td width="89">очная</td>
                        <td width="89">3 г10 мес</td>
                        <td width="98">20</td>
                        <td width="118">—</td>
                    </tr>
                    <tr>
                        <td width="64">3</td>
                        <td width="118">44.02.02</td>
                        <td width="120">Преподавание в начальных классах</td>
                        <td width="102">Основное (9 кл)</td>
                        <td width="89">очная</td>
                        <td width="89">3 г10 мес</td>
                        <td width="98">50</td>
                        <td width="118">25</td>
                    </tr>
                    <tr>
                        <td width="64">4</td>
                        <td width="118">09.02.07</td>
                        <td width="120">Информационные системы и программирование</td>
                        <td width="102">Основное (9 кл)</td>
                        <td width="89">очная</td>
                        <td width="89">3 г10 мес</td>
                        <td width="98">25</td>
                        <td width="118">25</td>
                    </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>Наш адрес:423812 г. Набережные Челны, пр. Р. Беляева, д.3 (56/04)</p>
                <p>Телефон: 8(8552)-58-30-22</p>
                <p>Официальный сайт: https://edu.tatar.ru/n_chelny/page1577.htm</p>
            </div>
        </section>
    </section>
{% endblock %}
