{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html;charset=windows-1251">
    <meta http-equiv="Content-Language" content="ru">
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="N; url=URL">
    <meta name="Author" content="Баев Тимур Радикович">
    <meta name="Copyright" content="Баев Тимур Радикович">
    <meta name="description" content="Веб-приложение для облегчения работы приёмной комиссии">

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<style>
    .ui-autocomplete {
        max-height: 100px;
        max-width: 500px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }

    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 100px;
    }
</style>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <nav class="navigation-menu">
                <ul class="navigation-menu-list">
                    <li><a href="{% url 'home' %}"><img src="{% static 'main/img/logo.svg' %}" alt=""></a></li>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                </ul>

                <ul class="navigation-menu-list">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser or user.is_staff %}
                            <li><a href="/admin/">Админ-панель</a></li>
                        {% else %}
                            <li><a href="{% url 'account:profile' user.id %}">Личный кабинет</a></li>
                        {% endif %}

                        <li>
                            <form action="{% url 'account:logout' %}" method="post">
                                {% csrf_token %}
                                <button class="exit-button" type="submit">Выйти</button>
                            </form>

                        </li>
                    {% else %}
                        <li><a href="{% url 'account:login' %}">Логин</a></li>
                        <li><a href="{% url 'form' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main class="{% block profile_class %}{% endblock %}">
        {% block side-menu %}
        {% endblock %}
        <div class="mainside">
            {% block content %}

            {% endblock %}
        </div>
    </main>

    <footer id="section-sub-footer" class="site-sub-footer clearfix" role="contentinfo">
        <div class="container">
            <div class="sixteen columns">

                <div class="columns left">
                    ГАПОУ "Набережночелнинский педагогический колледж"
                </div><!-- .site-info -->

                <div class="columns right">
                    &copy; 4K works, 2024
                    <ul class="social">


                        <li>
                            <a target="_blank" href="http://alpha-edu.pedcollchelny.ru/">
                                <img height="25" width="25"
                                     src="https://pedcollchelny.ru/wp-content/uploads/2018/03/alpha-edu.png"
                                     title="ЦРД &quot;Альфа-поколение&quot;" alt="ЦРД &quot;Альфа-поколение&quot;">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://Vk.com/pedcoll_chelny">
                                <img height="25" width="25"
                                     src="https://pedcollchelny.ru/wp-content/uploads/2018/03/VK_Logo.png"
                                     title="Группа колледжа в соцсети" alt="Группа колледжа в соцсети">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://distant.pedcollchelny.ru/">
                                <img height="25" width="25"
                                     src="https://pedcollchelny.ru/wp-content/uploads/2018/03/logo_small.png"
                                     title="Платформа дистанционного образования"
                                     alt="Платформа дистанционного образования">
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
    $(function () {
        $("#id_school").autocomplete({
            source: '{% url 'autocomplete' %}',
            minLength: 1,
            result: 5
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Добавление маски на поля при загрузке страницы
        $('#id_SNILS').mask('000-000-000 00');
        $('#id_INN').mask('000-000-000 00');
        $('#id_passport_number').mask('000-000 000000');
        $('#id_phone').mask('+7(000)000-00-00');

        // Обработка изменения значения в полях
        $('#id_SNILS').on('input', function () {
            $(this).mask('000-000-000 00');
        });

        $('#id_INN').on('input', function () {
            $(this).mask('000-000-000 00');

        });

        $('#id_passport_number').on('input', function () {
            $(this).mask('000-000 000000');
        });

        $('#id_phone').on('input', function () {
            $(this).mask('+7(000)000-00-00');
        });
        
        $('#id_mother_phone').on('input', function () {
            $(this).mask('+7(000)000-00-00');
        });
        
        $('#id_father_phone').on('input', function () {
            $(this).mask('+7(000)000-00-00');
        });
    });
</script>
</body>
</html>