{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html;charset=windows-1251">
    <meta http-equiv="Content-Language" content="ru">
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="N; url=URL">
    <meta name="Author" content="Баев Тимур Радикович">
    <meta name="Copyright" content="Баев Тимур Радикович">
    <meta name="description" content="Веб-приложение для облегчения работы приёмной комиссии">

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <nav class="navigation-menu">
                <ul class="navigation-menu-list">
                    <li><a href="{% url 'home' %}"><img src="{% static 'main/img/logo.svg' %}" alt=""></a></li>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                </ul>
                
                <ul class="navigation-menu-list">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser or user.is_staff %}
                            <li><a href="/admin/">Админ-панель</a></li>
                        {% else %}
                            <li><a href="{% url 'account:profile' user.id %}">Личный кабинет</a></li>
                        {% endif %}

                        <li>
                            <form action="{% url 'account:logout' %}" method="post">
                                {% csrf_token %}
                                <button class="exit-button" type="submit">Выйти</button>
                            </form>

                        </li>
                    {% else %}
                        <li><a href="{% url 'account:login' %}">Логин</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block side-menu %}
        {% endblock %}
        <div class="mainside container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">

        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

<script>
    $(function () {
        $("#id_school").autocomplete({
            source: '{% url 'autocomplete' %}',
            minLength: 2
        });
    });
</script>
</body>
</html>